* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #097b20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap;
}

.form-container {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 45%;
    text-align: center;
    margin: 10px 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}



.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
.label {
    text-align: left;
    color:#097b20;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #15662d;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.switch-link {
    margin-top: 15px;
    font-size: 14px;
}

.switch-link a {
    color: #2565af;
    text-decoration: none;
}

.switch-link a:hover {
    text-decoration: underline;
}


